.header-section h3 {
    color: #949cb7;
}

.header-section h1 {
    color: #1f81eb;
}

.header-wrap {
    margin: 0 auto;
    text-align: center;
}

.plan {
    display: inline;
    max-width: 25%
}

.plans-wrap {
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.plans-section {
    width: 100%;
}